
.container-cards{
    gap: 20px;
    width: 100%;
    @include flex-columna
}

.card{
    background-color: $color-primario;
    color: $color-secundario;
}
.btn{
    background-color: darksalmon;
    border-color: darksalmon;
}
// MEDIAQUERIS PRODUCTOS
@media (min-width: $tablet){
.lista-productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $espacio-chico;
    justify-items: center;
}
}